body{
    margin: 0%;
}

header {
    height: 50px;
}

.avatar {
    display:inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid goldenrod;  
    margin: 10px;
}

header ul {
    width:100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
header li {
    width: 25%;
    float: left;
}
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
  
header li a:hover, footer li a:hover {
    background-color: goldenrod;
    cursor: pointer;
}

.info {
    display:inline-block;
}

#about, #skills, #profile {
    margin-left: 30px;
    margin-right: 30px;
}

.heading {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid goldenrod;
    text-align: center;
    font-family: serif;
    font-size: 40px;
}

#about p {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

ul .skills {
    list-style-type: circle;
}

div #skills {
    height:max-content;
}
    
#contacts {
    background-color: #333333;
    color: white;
}

#contacts h1 {
    margin-left: 30px;
    margin-right: 30px;
}

.list{
    display: inline-block;
    margin: 0% 18%;
}

.list h3 {
    padding-left: 40px;
}

.creator p {
    border-top: 5px solid goldenrod;
    text-align: center;
    margin: 0px 30px;
    padding: 10px;
}